.split-line {
    background-color: #FF350D;
    width: 128px;
    height: 6px;
    margin: 32px 0;
}
.news-content {
    padding: 0 20px;
}
.news-content img {
    margin-right: 20px;
}

.news-header {

}
.news-header img {
    width: 100%;
    margin-bottom: 20px;
}
.news-header .title {
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 32px;
}
.news-header .news-info {
    display: flex;
    justify-content: center;
    font-family: Microsoft YaHei UI;
    font-size: 16px;
    text-align: left;
    color: #B1B1B1;
    margin-bottom: 32px;
}

.news-header .news-info .time {
    padding-right: 20px;
}

.title-wrap {
    position: relative;
}
.title-wrap span {
     /* 描边宽度为1px，描边颜色为黑色 */
     -webkit-text-stroke: 1px rgba(217, 217, 217, 1);
     color: rgba(255, 255, 255, 1);
     position: relative;
     z-index: -1;
     display: block;
}